[Unit]
Description=fw-fanctrl system tray indicator for KDE
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/local/bin/fw-fanctrl-indicator FW_FANCTRL/config.json
[Install]
WantedBy=multi-user.target
